<div>
  <form [formGroup]="farmaForm" (ngSubmit)="buscar()">

    <label>
      Región: <input formControlName="region" type="text" />
    </label>

    <label>
      Comuna: <input formControlName="neighborhood" type="text" />
    </label>

    <label>
      Nombre de local: <input formControlName="local_name" type="text" />
    </label>

    <p></p>
    <button class="button" type="submit">BUSCAR</button>
  </form>

  <table *ngIf="drugstores.length > 0">
    <tr>
      <th>Nombre de local</th>
      <th>Dirección</th>
      <th>Teléfono</th>
      <th>Latitud</th>
      <th>Longitud</th>
    </tr>

    <tr *ngFor="let drugsotre of drugstores">
      <th>{{drugsotre.local_nombre}}</th>
      <th>{{drugsotre.local_direccion}}</th>
      <th>{{drugsotre.local_telefono}}</th>
      <th>{{drugsotre.local_lat}}</th>
      <th>{{drugsotre.local_long}}</th>
    </tr>
  </table>
</div>


<router-outlet></router-outlet>
